<div class="container-fuild">
    <div class="row">
        <div class="col-md-2">
            <nav class="navbar-nav">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                    <li role="presentation"><a href="#">Profile</a></li>
                    <li role="presentation"><a href="#">Messages</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-md-10">
            <div class="container">
                <div class="jumbotron">
                    <p>Hi this is Yathi</p>
                </div>
            </div>
        </div>
    </div>
</div>